body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #971313;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    color: #971313;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #861111;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #480505;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}